/* Footer */

footer {
    background-color: #457C9B;
    padding: 2rem 2rem 1rem 2rem;
    margin-top: auto;
    border-top: 1px solid rgba(140, 190, 180, 0.3);
}

.nav-footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 0.1rem;
}

.nav-footer-item {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 450;
    color: #faebd7;
    transition: all 0.2s ease;
    display: inline-block;
    padding: 0.2rem 0;
}